@{
    ViewBag.Title = "Coaches Corner";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="row">
    <div class="columns twelve">
        <div class="welcomeMessage">
            @Html.Raw(ViewBag.WelcomeMessage)
        </div>    
        <hr />
    </div>
</div>

<div class="row">
    <div class="columns twelve">        
            <ul class="block-grid four-up ageSearchControl">
                <li>
                    <label for="Countries">Country </label>
                    @Html.DropDownList("Countries")
                </li>
                <li>
                    <label for="Regions">Region </label>
                    @Html.DropDownList("Regions")
                </li>
                <li>
                    <label for="Age">Age </label>
                    @Html.DropDownList("Age")
                </li>
                <li>            <br />
                    <a id="clearButton" class="button" href="#">Reset</a>
                </li>                
            </ul>    
        <span class="results right"> @ViewBag.CoachesCorner.Count Result@{if(ViewBag.CoachesCorner.Count>1){<span>s</span>} }</span>    
        
    </div>
</div>
<div class="row">
    <div class="columns twelve">            
    @if (ViewBag.CoachesCorner.Count > 0)
    {
          <ul>
              
        @foreach (var listing in ViewBag.CoachesCorner)
        {
            <li>
                <div class="panel coachesCorner ">
                    <div class="row">
                        <div class="columns twelve">
                            <h3 class="has-tip tip-top noradius"  title="@listing.TeamName/@listing.ClubName">@listing.TeamName/@listing.ClubName</h3>
                        </div>                        
                    </div>
                    
                    <div class="row">
                        <div class="columns six">
                            <strong>Age:</strong> @listing.AgeGroup
                        </div>
                        <div class="columns six">
                            <strong>Gender:</strong> @listing.Gender
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <strong>City:</strong> @listing.City
                        </div>
                        <div class="columns six right">
                            <strong>Posted: </strong>@listing.DatePosted.ToShortDateString()
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="columns twelve">
                            <p><strong>Description: </strong>@listing.Description</p>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <strong>Name:</strong> @listing.Contactname
                        </div>
                        <div class="columns six">
                             <img class="phone" src="Images/phone_icon.png" />: <a href="tel:@listing.PhoneNumber">@listing.PhoneNumber</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns six">
                            <div class="columns two nopadding">
                                <img class="email" src="Images/email.png" />: 
                            </div>
                            <div class="columns ten noverflow nopadding">
                                <a class="has-tip tip-top noradius"  title="@listing.Email" href="mailto:@listing.Email">@listing.Email</a>
                            </div>
                            
                        </div>
                        <div class="columns six">
                            <div class="columns four noleftpadding">
                                <strong>Website: </strong>
                            </div>
                            <div class="columns eight noverflow">
                                <a class="has-tip tip-top noradius nowrap"  title="@listing.Website" href="@listing.Website">@listing.Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }   
    </ul>       
    }
    else
    {
        <h4 class="error">No Results Found</h4>
    }
  
</div>
</div>

@section scripts
{
    <script type="text/javascript">
        $("#clearButton").addClass('disabled');        

        if (window.location.toString().indexOf('?') != -1) {
            $("#clearButton").removeClass('disabled');
        }
        if($("#Countries").find(":selected").val()=="0") {
            $("#Regions").attr("disabled", "disabled");
        }
        if ($("#Regions").find(":selected").val() == "0") {
            $("#Age").attr("disabled", "disabled");
        }
        $("#Countries").change(function () {
            if ($(this).val() != 0) {
                window.location = ('/CoachesCorner?Country=' + $("#Countries").val());
            }
            else {
                window.location = ('/CoachesCorner');
            }
        });
        $("#Regions").change(function () {
            if ($(this).val() != 0) {
                window.location = ('/CoachesCorner?Country=' + $("#Countries").val() + '&Region=' + $("#Regions").val());
            }
            else {
                window.location = ('/CoachesCorner?Country=' + $("#Countries").val());
            }
        });
        $("#Age").change(function () {
            if ($(this).val() != 0) {
                window.location = ('/CoachesCorner?Country=' + $("#Countries").val() + '&Region=' + $("#Regions").val() + '&Age=' + $("#Age").val());
            }
            else {
                window.location = ('/CoachesCorner?Country=' + $("#Countries").val() + '&Region=' + $("#Regions").val());
            }
            
        });
        $("#clearButton").click(function () {
            if (!$(this).hasClass("disabled")) {
                window.location = ('/CoachesCorner');
            }            
        });
    </script>
}
