@using DataAccess


@{
    var tournament = new GetAllTournamentsByRegionResult();
    tournament = ViewData["Tournament"] as GetAllTournamentsByRegionResult;
    var accessLayer = new ClientAccessService();
    var averageResults = accessLayer.GetAverageTournamentRating(tournament.TournamentID);
    
}


    <div class="paidTournamentListing">
        <div class="tournamentImage">
            <img src="@tournament.TournamentImageUrl" alt="@tournament.TournamentName" title="@tournament.TournamentName" class="tournamentLogo" />  
            <br />  
            <div>
                <div id="@tournament.TournamentID" class="tournamentRaiting"></div>
                <div style="display:inline-block;" class="tournamentAverageRaiting">(<span title="Number of Votes">@averageResults.NumberOfVotes</span>)</div>
            </div>
        </div>    
        <div class="tournamentDescription">
            <h3>@tournament.TournamentName</h3>
            <p>@tournament.TournamentDescription</p>        
        </div>                   
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style" addthis:url="@Request.Url.Scheme://@Request.Url.Authority/Tournament/Detials?TournamentID=@tournament.TournamentID">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        
        
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5089c7de27cc4aa5"></script>
        <!-- AddThis Button END -->             
        <a href="@Url.Action("Details", "Tournament", new { TournamentID = tournament.TournamentID, Layout = false })" class=" readMore fancybox.ajax" >read more...</a>    
        <div class="clear"></div>    
    </div>