@using DataAccess
@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
    if (ViewBag.UseLayout==false)
    {
        Layout = null;    
    }    
    GetTournamentByTournamentIDResult Tournament = ViewBag.Tournament;
}
<div class="fullTournamentDetails">
    @if (ViewBag.UseLayout)
    {
        <div class="row">
            <a href="@Tournament.RegionID">< Back to Site</a>
        </div>        
    }
    
    <div class="row">
        <div class="columns four">
            <img src="@Tournament.TournamentImageUrl" alt="@Tournament.TournamentName" title="@Tournament.TournamentName" class="largeTournamentImage"/>                
        </div>
        <div class="columns eight">
            <h1>@Tournament.TournamentName</h1>
            <ul class="block-grid two-up">
                
                <li><strong>@Tournament.TournamentGender 
                        @if(!string.IsNullOrEmpty(Tournament.TournamentAgeGroup))
                        {
                            <span>/</span>                
                        }
                        @Tournament.TournamentAgeGroup</strong></li>
                        
                <li><strong>Format:</strong> @Tournament.TournamentFormat</li>
                
                <li><strong>Date:</strong> @Tournament.TournamentDate @Tournament.TournamentTime</li>           
                <li><strong>Club: </strong>@Tournament.TournamentHostingClub</li>
                
                <li><strong>Register Deadline: </strong>@DateTime.Parse(Tournament.TournamentRegistrationDeadline.ToString()).ToShortDateString()</li>
                <li><strong>Location: </strong>@Tournament.TournamentLocation</li>
                <li><strong>Fee: </strong>$@Tournament.TournamentTeamFee</li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="columns twelve">         
            <h5>Description</h5> @Tournament.TournamentDescription
        </div>        
    </div>
    <div class="row">
        <div class="columns six">
            <h5>Contact Information</h5>
            <ul>
                <li>Name: @Tournament.ContactName</li>
                <li>Email: <a href="mailto:@Tournament.ContactEmail" title="@Tournament.ContactEmail">@Tournament.ContactEmail</a></li>
                <li>Phone: @Tournament.ContactNumber</li>
                <li>Website: <a href="@Tournament.TournamentClubSite" title="@Tournament.TournamentClubSite">@Tournament.TournamentClubSite</a></li>
            </ul>
        </div>        
    </div>
</div>
