@using DataAccess
@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
}
<div class="row">
    <div class="three columns">
        <div class="outterBorder">
            <div class="panel search">
                <h4>SEARCH BY REGION</h4>
                <select id="regionSelection">
                    <option>-Please Select-</option>
                    @foreach (GetAllRegionsByCountryResult r in ViewBag.Regions)
                    {
                        <option value="@r.RegionName">@r.RegionName</option>   
                    }                
                </select>
            </div>
        </div>
        @Html.Partial("_LeftAddList")
    </div>
    <div class="six columns tight">
        <h1 class="custom shadow">@ViewBag.Country</h1>
        @{
            Html.RenderPartial("_regionGridView");           
        }
    </div>
    <div class="three columns">
        @Html.Partial("_FeaturedTournaments")
    </div>
</div>
<div class="clear"></div>

@section scripts
{
    <script type="text/javascript">
        $("#regionSelection").change(function(){
            window.location=('/Tournament/Region?Region=' + $(this).val());
        });
    </script>
}
