@model FullTilt.Models.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
<div class="row grey">
    <div class="columns four">
        <div id="contact_left">
            <h3>Sales</h3>
            <a href="mailto:sales@fulltiltsoccer.com">sales@fulltiltsoccer.com</a>
    
            <h3>Coaches Corner</h3>
            <a href="mailto:coaches@fulltiltsoccer.com">coaches@fulltiltsoccer.com</a>
    
            <h3>Camps Information</h3>
            <a href="mailto:camps@fulltiltsoccer.com">camps@fulltiltsoccer.com</a>
    
            <h3>Tournament Information</h3>
            <a href="mailto:tournament@fulltiltsoccer.com">tournament@fulltiltsoccer.com</a>
    
            <h3>General Information</h3>
            <a href="mailto:info@fulltiltsoccer.com">info@fulltiltsoccer.com</a>
        </div>
    </div>
    <div class="columns eight">
        <div id="contact_right">
            <h1 class="custom shadow">CONTACT US</h1>
            <p>Full Tilt Soccer is a new service offering free and paid listings to all Soccer Associations and Tournament organizors. We are still growing and evolving but at this time we ask that you email us at <a href="mailto:info@fulltiltsoccer.com">info@fulltiltsoccer.com</a> to receive info about how to have your Tournament posted or select one of our other contacts for more info about the other features on this site.</p>
     
            @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "custom" }))
            { 
                @Html.ValidationSummary(true) 
                <div class="row">
                    <div class="six columns">                
                        @Html.LabelFor(model => model.To)                 
                        @Html.DropDownListFor(x => x.To, Model.ToList, "- Choose One -")
                        @Html.ValidationMessageFor(model => model.To) 
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        @Html.LabelFor(model => model.From)                 
                        @Html.TextBoxFor(model => model.From) 
                        @Html.ValidationMessageFor(model => model.From) 
                    </div>
                    <div class="six columns">
                        @Html.LabelFor(model => model.Subject)                 
                        @Html.TextBoxFor(model => model.Subject) 
                        @Html.ValidationMessageFor(model => model.Subject) 
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        @Html.LabelFor(model => model.Message)                 
                        @Html.TextAreaFor(model => model.Message, new { cols = "20", rows = "5" }) 
                        @Html.ValidationMessageFor(model => model.Message) 
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <input type="submit" class="button right" value="Send" /> 
                    </div>
                    </div>                                
                }           
        </div>
    </div>
</div>
<div class="clear"></div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sendButton").button();
        });
    </script>
    
}
