@using DataAccess
@{
    var tournament = new GetAllTournamentsByRegionResult();
    tournament = ViewData["Tournament"] as GetAllTournamentsByRegionResult;    
}

<div class="tournamentListing">
    <div class="tournamentImage">
        <img src="@tournament.TournamentImageUrl" alt="@tournament.TournamentName" title="@tournament.TournamentName" />    
    </div>    
    <div class="tournamentDescription">
        <h3>@tournament.TournamentName</h3>
        <p>@tournament.TournamentDescription</p>
        
    </div>    
    <div class="clear"></div>
</div>