@using DataAccess

@{
    var tournament = new GetAllTournamentsByRegionResult();
    tournament = ViewData["Tournament"] as GetAllTournamentsByRegionResult;
    var accessLayer = new ClientAccessService();
    var averageResults = accessLayer.GetAverageTournamentRating(tournament.TournamentID);
    
}

<a href="@Url.Action("Details", "Tournament", new { TournamentID = tournament.TournamentID })" class="paidTournamentListing fancybox.ajax" >
    
    <div class="tournamentImage">
        <img src="@tournament.TournamentImageUrl" alt="@tournament.TournamentName" title="@tournament.TournamentName" class="tournamentLogo" />  
        <br />  
        <div>
            <div id="@tournament.TournamentID" class="tournamentRaiting"></div>
            <div style="display:inline-block;" class="tournamentAverageRaiting">(<span title="Number of Votes">@averageResults.NumberOfVotes</span>)</div>
        </div>
    </div>    
    <div class="tournamentDescription">
        <h3>@tournament.TournamentName</h3>
        <p>@tournament.TournamentDescription</p>
        
    </div>    
    
    <div class="clear"></div>
    
</a>
