@using DataAccess
@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
    if (ViewBag.UseLayout==false)
    {
        Layout = null;    
    }    
    GetTournamentByTournamentIDResult Tournament = ViewBag.Tournament;
}
<div class="fullTournamentDetails">
    <img src="@Tournament.TournamentImageUrl" alt="@Tournament.TournamentName" title="@Tournament.TournamentName" class="largeTournamentImage"/>    
    <ul class="details">
        <li>&nbsp;</li>
        <li><h1>@Tournament.TournamentName</h1></li>
        <li><strong>@Tournament.TournamentGender 
                @if(!string.IsNullOrEmpty(Tournament.TournamentAgeGroup))
                {
                    <span>/</span>                
                }
                 @Tournament.TournamentAgeGroup</strong></li>
        <li><strong>Format:</strong> @Tournament.TournamentFormat
        </li>
        <li><strong>Date:</strong> @Tournament.TournamentDate @Tournament.TournamentTime</li>                
        <li>&nbsp;</li>
        <li class="description"><strong>Description:</strong> @Tournament.TournamentDescription</li>
        <li>&nbsp;</li>
        <li>@Tournament.TournamentHostingClub
            @if (@Tournament.TournamentLocation != null)
            {
                <span> , </span>
            }
            
            @Tournament.TournamentLocation</li>
        <li>&nbsp;</li>
        <li><strong>Contact Information</strong>
            <ul>
                <li>@Tournament.ContactName</li>
                <li>Email: <a href="mailto:@Tournament.ContactEmail" title="@Tournament.ContactEmail">@Tournament.ContactEmail</a></li>
                <li>@Tournament.ContactNumber</li>
                <li><a href="@Tournament.TournamentClubSite" title="@Tournament.TournamentClubSite">@Tournament.TournamentClubSite</a></li>
            </ul>
        </li>
        <li>Register By: @Tournament.TournamentRegistrationDeadline</li>
        <li>
            @if (@Tournament.TournamentTeamFee!=null)
                {
                    <span>$</span>                
                }
                @Tournament.TournamentTeamFee
        </li>        
    </ul>
    <div class="clear"></div>
</div>