@using DataAccess
@{
    ViewBag.Title = ViewBag.Country + " Tournaments";
    
}
<div class="leftColumn addSpace">
    <div class="outterSearch">
        <div class="innerSearch">
            <h2>SEARCH BY REGION</h2>
            <select id="regionSelection">
                <option>-Please Select-</option>
                @foreach (GetFellowRegionsByRegionResult r in ViewBag.Regions)
                {
                    <option value="@r.RegionName">@r.RegionName</option>   
                }     
            </select>
        </div>
    </div>
</div>
<div class="leftColumn content">
    <h1>@ViewBag.Region</h1>
    @foreach (GetAllTournamentsByRegionResult t in ViewBag.PaidTournaments)
    {        
        Html.RenderPartial("_PaidTournament", ViewData["Tournament"] = t);
        var accessLayer = new ClientAccessService();
        Guid currentUser = new Guid("d2b2cedb-4f8d-4702-b48d-c147f7425efd");
        var currentVote = accessLayer.GetAverageTournamentRating(t.TournamentID);
        bool canVote = accessLayer.GetTournamentRaitingFromUser(t.TournamentID, currentUser).TournamentRaiting<=0;
        var raty = "$('#" + t.TournamentID + "').raty({ readOnly: true,half: true, path: '/Images/', number: '5', score: '" + currentVote.AverageRaiting + "' });";
        if (!User.Identity.IsAuthenticated && canVote)
        {
            raty = "$('#" + t.TournamentID + "').raty({ half: true, path: '/Images/', number: '5', score: '" + currentVote.AverageRaiting + "' });";    
        }
            
        <script>
            $(document).ready(function () {
                @MvcHtmlString.Create(raty);                
            });            
        </script>
    }    
    @foreach (GetAllTournamentsByRegionResult t in ViewBag.FreeTournaments)
    {
        Html.RenderPartial("_FreeTournament", ViewData["Tournament"] = t);
    }    
</div>
<div class="leftColumn addSpace">
    
</div>
<div class="clear"></div>
@section HeadScripts{
    @Scripts.Render("~/bundles/raty") 
    <style>
        
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/fancybox")
    @Styles.Render("~/Content/fancybox/css")
    @{
        
    }
    <script>
        $(document).ready(function () {            
          /*  $(".tournamentRaiting img").click(function (e) {
                e.preventDefault();
            });*/
            $(".readMore").fancybox({
                maxWidth: 800,
                maxHeight: 450,
                fitToView: false,
                width: '70%',                
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>   
}
